body{
  margin: 0;
  padding: 0;
  font-family: 'karla';
}
.header{
  display: flex;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  align-items: center;
  color: white;
  font-weight: 700;
  font-size: 21px;
  padding: 0 20px;
  gap: 7px;
}
.header img{
  height: 32px;
  width: auto;
}

