body{
  margin: 0;
  padding: 0;
  font-family: 'karla';
}
.header{
  display: flex;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  align-items: center;
  color: white;
  font-weight: 700;
  font-size: 1.30rem;
  padding: 0 20px;
  gap: 7px;
}
.header img{
  height: 32px;
  width: auto;
}
.main{
  padding: 36px;
}
.form{
  display: grid;
  gap: 17px;
  grid-template: 40px 40px/ 1fr 1fr;
}
.form input{
  border: 1px solid #D5D4D8;
  border-radius: 5px;
}
.form button{
  display: grid;
  align-items: center;
  grid-column: 1/-1;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  border-radius: 5px;
  border-width: 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}
.meme-image{
  display: grid;
  grid-column: 1/-1;
  max-width: 100%;
  max-height: 60vh;
  justify-self: center;
  /* margin-top: 15px; */
}